<ion-view hide-nav-bar="false" hide-back-button="true" cache-view="false" title="Forgot Passcode">
    <!-- <ion-view hide-nav-bar="false" align-title="left" title="Forgot Password" hide-back-button="true" cache-view="false">
     --><form name="dataForm" novalidate>
        <ion-content padding="true" class="padding has-header has-tabs login_bg" has-bouncing="false">
            <ion-list>
                <p>
                    Forgot passcode? No need to worry. Change it in three easy steps:
                </p>
                <p>1. Give us your registered mobile number.</p>
                <p>2. We will cross check it with our records and send an OTP to it.</p>
                <p>3. Use that code in the next screen and reset your passcode yourself.</p>
                <label class="item item-input removeBorders" ng-class="{ 'has-errors' : authorizationForm.mobile.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.mobile.$valid  && authorizationForm.$submitted}">
                    
                    <i class="newSiteHeaderColor fa fa-mobile placeholder-icon fontSizeDouble iMargin"></i>
                    <input type="tel" name="username" ng-model="data.username" required placeholder="Mobile No">
                </label>
                <div class="error-container" ng-show="dataForm.username.$error &&dataForm.$submitted" ng-messages="dataForm.username.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <div class="error-container" ng-if="errorMessage && !successMessage">
                    <p class="error">
                        {{errorMessage}}
                    </p>
                </div>
            </ion-list>
            <div class="marginTop" style="position:relative;">
            <a ui-sref="main.login" style="margin-top:10px;float:right;color:gray;text-decoration:none;"> Login</a><br>
            <a ui-sref="main.registration" style="margin-top:10px;position:absolute;top:0px;float:left;color:gray;text-decoration:none;">New User</a>
            <!-- <span>
              <button nav-transition="android" ui-sref="main.forgotpassword" menu-close class="button button-outline button-small button-positive">Forgot Password ?</button>
            </span> -->
            <!--<span class="flRight">
            <a ui-sref="main.registration">New User</a>
               <button nav-transition="android" ui-sref="main.registration" menu-close class="button button-outline button-small icon-left ion-person-add button-balanced" >New User</button> 
            </span>-->
            </div>
            <div class="marginTop hidden">
            <span>
              <button nav-transition="android" ui-sref="main.registration" menu-close class="button button-outline button-small icon-left ion-person-add button-balanced" >SIGN UP</button>
            </span>
            <span class="flRight">
              <button nav-transition="android" ui-sref="main.login" menu-close class="button button-outline button-small icon-left ion-log-in button-balanced" >SIGN IN</button>
            </span>
            </div>
            <!-- <img src="main/assets/images/defaultsitebg.jpg" style="width:100%;margin-top:30%;"/> -->
        </ion-content>
        <div class="tabs dashboardTabsStyle" ng-click="getPassword(dataForm)">
            <button  class="button button-stable button-clear tab-item item-text-wrap" type="submit" style="font-size:16px;color:white;opacity:1;">
                SUBMIT
            </button>
        </div>
    </form>
</ion-view>
