<ion-view hide-nav-bar="false" hide-back-button="true" cache-view="false" title="HONOR">
    <!-- <ion-view hide-nav-bar="false" view-title="Appointments" hide-back-button="true" cache-view="false"> -->
    <ion-content class="has-footer" has-bouncing="false">
        <div class="row">
            <div class="col col-50 padding honor-b-b">
                <img ngCache src="main/assets/images/cup-character.png" class="honor-img-res" />
            </div>
            <div class="col col-50 padding honor-b-b">
                <div class="row paddingZero">
                    <div class="col"><span class="honor-username">Mr.Ravi Kumar</span>
                    </div>
                </div>
                <div class="row paddingZero">
                    <div class="col paddingZero">
                        <i class="icon ion-android-star-outline honor-star"></i>
                        <i class="icon ion-android-star-outline honor-star"></i>
                        <i class="icon ion-android-star-outline honor-star"></i>
                        <i class="icon ion-android-star-outline honor-star"></i>
                        <i class="icon ion-android-star-outline honor-star"></i>
                    </div>
                </div>
                <div class="row paddingZero">
                    <div class="col">Lorem ipsum dolor sit amet. sdconsedit setige worweonlk sdflslk.</div>
                </div>
            </div>
        </div>
        <div class="row padding">
            <div class="col text-center padding">
                <span>ACTIVITIES</span>
            </div>
        </div>
        <div class="row paddingZero honor-b-b" >
            <div class="col col-50 col-center padding ">
                <img ngCache src="main/assets/images/gogreen.jpg" class="honor-img-res" />
            </div>
            <div class="col col-50 padding ">
                <div class="row paddingZero">
                    <div class="col col-100"><span class="honor-activity-title">Go Green</span>
                    </div>
                </div>
                <div class="row paddingZero">
                    <div class="col honor-p-b-0"><span class="honor-date-f">Date:</span><span class="honor-bold-date">30/01/16</span>
                    </div>
                </div>
                <div class="row paddingZero">
                    <div class="col honor-p-b-0"><span class="honor-date-f">Venue:</span><span class="honor-bold-date">Kukatpally</span>
                    </div>
                </div>
                <div class="row paddingZero">
                    <div class="col">Lorem ipsum dolor sit amet. sdconsedit setige worweonlk sdflslk.</div>
                </div>
            </div>
        </div>
        <div class="row paddingZero honor-b-b">
            <div class="col col-50 col-center padding ">
                <img ngCache src="main/assets/images/cleanhyd.jpg" class="honor-img-res" />
            </div>
            <div class="col col-50 padding ">
                <div class="row paddingZero">
                    <div class="col col-100"><span class="honor-activity-title">Clean Hyderabad</span>
                    </div>
                </div>
                <div class="row paddingZero">
                    <div class="col honor-p-b-0"><span class="honor-date-f">Date:</span><span class="honor-bold-date">30/01/16</span>
                    </div>
                </div>
                <div class="row paddingZero">
                    <div class="col honor-p-b-0"><span class="honor-date-f">Venue:</span><span class="honor-bold-date">Kukatpally</span>
                    </div>
                </div>
                <div class="row paddingZero">
                    <div class="col">Lorem ipsum dolor sit amet. sdconsedit setige worweonlk sdflslk.</div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="tabs dashboardTabsStyle ">
        <a class="tab-item" style="border-right:1px solid white;opacity:1; overflow: initial;max-width:100% !important;font-weight:600; ">
            SUBMIT
        </a>
    </div>
</ion-view>