<div class="modal">
    <ion-header-bar class="bar-balanced bar-balanced-new" align-title="center">
        <h1 class="title">Request Details</h1>
        <div class="buttons">
            <button class="button ion-close-circled button-clear" style="color:black;" ng-click="appointmentCloseModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="" has-bouncing="false" style="margin-top:-10px;">
        <div class="row paddingZero">
            <div class="col col-50 site-bg-color-new">
                <img ngCache class="img-rel-t-10" src="main/assets/svg/calender.svg" width="35px" height="30px" /><span class="f-s-14-c-w">16/03/2016{{sell.preferredDate}}</span>
            </div>
            <div class="col col-50 rd-col-bg-gray">
                <img ngCache class="img-rel-t-10" src="main/assets/svg/time1.svg" width="35px" height="30px" /><span class="f-s-14-c-w">16:00 - 18:00{{sell.preferredSlot}}</span>
            </div>
        </div>
        <div class="row paddingZero row-center rd-bg-bs">
            <div class="col col-50 paddingZero">
                <div class="row row-center">
                    <div class="col col-10 rd-pl-ml-mt">
                        <img ngCache src="main/assets/svg/confirmation-id1.svg" width="45px" height="40px" />
                    </div>
                    <div class="col col-90 text-center">
                        <div class="row rd-mb-pb-0">
                            <div class="col col-100 rd-mb-pb-0"><span class="rd-fs-10">CONFIRMATION</span>
                            </div>
                        </div>
                        <div class="row rd-pt-mt">
                            <div class="col col-100 rd-pt-mt-0"><span class="rd-fs-fw">SQ00000081</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-50 paddingZero">
                <div class="row row-center">
                    <div class="col col-10 rd-pl-ml-mt">
                        <img ngCache src="main/assets/svg/confirm1.svg" width="45px" height="40px" />
                    </div>
                    <div class="col col-90 text-center">
                        <div class="row rd-mb-pb-0">
                            <div class="col col-100 rd-mb-pb-0"><span class="rd-fs-10">STATUS</span>
                            </div>
                        </div>
                        <div class="row rd-pt-mt">
                            <div class="col col-100 rd-pt-mt-0"><span class="rd-fs-fw">Assigned To Agent</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padding rd-m-t-10">
            <div class="col rd-bor-bot"><span class="rd-fs-fw-head">CONSUMER DETAILS</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-50 paddingZero">
                <div class="row rd-p-t-0">
                    <div class="col">
                        <h5 class="rd-fs-10">NAME</h5>
                        <span>G Viswanath Reddy</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="rd-fs-10">MOBILE</h5>
                        <span>9885254509</span>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <h5 class="rd-fs-10">ADDRESS</h5>
                <span>360, Rolling hills, Siddiq Nagar, Gachibowli, Hyderabad, Telangana 500081.</span>
            </div>
        </div>

        <div class="row padding rd-m-t-10">
            <div class="col rd-bor-bot"><span class="rd-fs-fw-head">AGENT DETAILS</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-50 paddingZero">
                <div class="row rd-p-t-0">
                    <div class="col">
                        <h5 class="rd-fs-10">AGENT NAME</h5>
                        <span>G Viswanath Reddy</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="rd-fs-10">MOBILE</h5>
                        <span>9885250509</span>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <h5 class="rd-fs-10">ADDRESS</h5>
                <span>360, Rolling hills, Siddiq Nagar, Gachibowli, Hyderabad, Telangana 500081.</span>
            </div>
        </div>

        <div class="row padding rd-m-t-10">
            <div class="col text-left">
                <span class="rd-fs-fw-head">ITEM DETAILS</span>
            </div>
        </div>
        <div class="row rd-bor-bot-item" >
            <div class="col col-33 rd-first-box">
                <div class="row row-center">
                    <div class="col col-center">
                        <div class="rd-circle" >
                            <img ngCache width="45px" height="40px" src="http://scrapq.digitelenetworks.com/scrapq/fileManager/getImageFileById/56ef8a90df72ee13f4e3b98d.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-67 rd-second-box paddingZero">
                <div class="row paddingZero">
                    <div class="col col-50 text-center">
                        <h5 class="rd-fs-10">CATEGORY NAME</h5>
                        <span>Paper</span>
                    </div>
                    <div class="col col-50 text-center">
                        <h5 class="rd-fs-10">PRICE PER UNIT</h5>
                        <span>10:00</span>
                    </div>
                </div>
                <div class="row paddingZero">
                    <div class="col col-50 text-center">
                        <h5 class="rd-fs-10">QUANTITY</h5>
                        <span>1.00</span>
                    </div>
                    <div class="col col-50 text-center">
                        <h5 class="rd-fs-10">AMOUNT</h5>
                        <span>10:00</span>
                    </div>
                </div>
            </div>
        </div>        
        <div class="row rd-bor-bot-item" >
            <div class="col col-33 rd-first-box">
                <div class="row row-center">
                    <div class="col col-center">
                        <div class="rd-circle" >
                            <img ngCache width="45px" height="40px" src="http://scrapq.digitelenetworks.com/scrapq/fileManager/getImageFileById/56ef8b04df72ee13f4e3b995.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-67 rd-second-box paddingZero">
                <div class="row paddingZero">
                    <div class="col col-50 text-center">
                        <h5 class="rd-fs-10">CATEGORY NAME</h5>
                        <span>Bottles</span>
                    </div>
                    <div class="col col-50 text-center">
                        <h5 class="rd-fs-10">PRICE PER UNIT</h5>
                        <span>10:00</span>
                    </div>
                </div>
                <div class="row paddingZero">
                    <div class="col col-50 text-center">
                        <h5 class="rd-fs-10">QUANTITY</h5>
                        <span>1.00</span>
                    </div>
                    <div class="col col-50 text-center">
                        <h5 class="rd-fs-10">AMOUNT</h5>
                        <span>10:00</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padding rd-m-t-10">
            <div class="col text-left">
                <span class="rd-fs-fw-head">ACTIVITIES</span>
            </div>
        </div>
        <div class="row rd-bor-bot-item" >
            <div class="col text-center rd-first-box">
                <div class="row paddingZero row-center">
                    <div class="col col-center">
                        <h5 class="rd-fs">ON 26 MARCH 2016, 12:52 BY SYSTEM</h5>
                        <h5 >"Assigned to Agent"</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rd-bor-bot-item" >
            <div class="col text-center rd-first-box">
                <div class="row paddingZero row-center">
                    <div class="col col-center">
                        <h5 class="rd-fs">ON 26 MARCH 2016, 12:50 BY VISHWANATH</h5>
                        <h5 >"Request Initiated"</h5>
                    </div>
                </div>
            </div>
        </div>       
            
        </div> 
        
    </ion-content>
</div>
