<ion-view  cache-view="false" hide-nav-bar="false" hide-back-button="true">
    <!-- <ion-view view-title="Change Password" cache-view="false" hide-nav-bar="false" hide-back-button="true">
     --><!-- do you want padding? -->
    <form name="resetForm" novalidate="" >
    <ion-content class="padding has-header marginTop50Percent">
    <ion-list ng-if="successMessage">
            <p>
                {{successMessage}}
            </p>
        </ion-list>

            <div class="list">
                <label class="item item-input" ng-class="{ 'has-errors' : resetForm.password.$invalid && resetForm.$submitted, '' : resetForm.password.$valid}">
                    <i class="fa fa-key fontSizeOneFifty placeholder-icon"></i>
                    <input type="password" name="password" ng-model="data.newPassword" required placeholder="Enter New Password" ng-minlength="5">
                </label>
                <div class="error-container" ng-show="resetForm.password.$error &&resetForm.$submitted" ng-messages="resetForm.password.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                 <div class="error-container" ng-if="errorMessage && !successMessage">
                    <p class="error">
                        {{errorMessage}};
                    </p>
                </div>
            </div>
            <div >

            </div>

    </ion-content>
    <div class="tabs dashboardTabsStyle">
            <button class="button button-stable button-clear tab-item item-text-wrap" type="submit" ng-click="changePassword(resetForm)" style="font-size:16px;color:white;opacity:1;">
                Submit
            </button>
        </div>
        </form>
</ion-view>
